<h2><%= @symbol %></h2>
<table>
  <tr>
    <% @stock_data.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @stock_data.each do |row| %>
    <tr>
      <% row.each do |(k, v)| %>
        <td><%= format_field v %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<hr />

<% @tabular_stock_data.each do |month, rows| %>
  <h3><%= month %></h3>
  <table>
    <% rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= format_field cell %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
