<h2><%= @symbol %></h2>

<div id="chart_ctn"></div>

<table>
  <tr>
    <% @stock_data.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <% @stock_data.each do |row| %>
    <tr>
      <% row.each do |(k, v)| %>
        <td><%= format_field v %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<hr />

<% @tabular_stock_data.each do |month, rows| %>
  <h3><%= month %></h3>
  <table>
    <% rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= format_field cell %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<hr />

<script type="text/javascript">
  $('#chart_ctn').data('xAxis_categories', [<%= raw @chart_data.keys.map{|k| "'#{k}'" }.join(',') %>]);
  $('#chart_ctn').data('mean_data', [<%= raw @chart_data.values.map{|v| v[:mean] }.join(',') %>]);
  $('#chart_ctn').data('reliability_data', [<%= raw @chart_data.values.map{|v| v[:reliability].round(2) }.join(',') %>]);
</script>
